<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>channel-manager</display-name>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:spring-appContext.xml
			classpath:spring-db.xml,
		</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>

	<!-- springweb start -->
    <servlet>
        <servlet-name>rest</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <init-param>
        	<param-name>contextConfigLocation</param-name>
          	<param-value>classpath:rest-servlet.xml</param-value>
     	 </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>rest</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <!-- springweb end -->
    
	<!-- Spring字符集 过滤器 start -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- Spring字符集 过滤器 end -->

	<!-- sitemesh 过滤器 start -->
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>
	<!-- sitemesh 过滤器 end -->


	<!-- configure the HiddenHttpMethodFilter,convert the post method to put or delete -->
	<!-- 
	在前台可以用以下代码产生请求
			
		<form action="rest/user/1" method="post">
		    <input type="hidden" name="_method" value="PUT">
		    <input type="submit" value="put">
		</form>
		 
		<form action="rest/user/1" method="post">
		    <input type="submit" value="post">
		</form>
		 
		<form action="rest/user/1" method="get">
		    <input type="submit" value="get">
		</form>
		 
		<form action="rest/user/1" method="post">
		    <input type="hidden" name="_method" value="DELETE">
		    <input type="submit" value="delete">
		</form>
	 -->
	<filter>
	    <filter-name>HiddenHttpMethodFilter</filter-name>
	    <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>HiddenHttpMethodFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>


	<!-- 配置sesison超时时间：15分钟 -->
	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>

	<!-- 默认页面 -->
	<welcome-file-list>
		<welcome-file>/login</welcome-file>
	</welcome-file-list>

 	<!-- 友好提示页面 -->
	<!-- 404 页面不存在错误 -->
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/errors/404.jsp</location>
	</error-page>
	
	<!-- 500 服务器内部错误 -->
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/views/errors/500.jsput</location>
	</error-page> 

</web-app>