<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{HH:mm:ss,SSS}] [%-5p] %c -%-4r [%t] %x [%L]>> %m%n" />
		</layout>

		<!--限制输出级别 -->
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="ERROR" />
			<param name="LevelMin" value="TRACE" />
		</filter>
	</appender>

	<!-- 输出日志到文件，每天一个 -->
	<appender name="dailyRollingFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Threshold" value="info" />
		<param name="ImmediateFlush" value="true" />
		<param name="Append" value="true" />
		<param name="File" value="logs/channel-server.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{HH:mm:ss,SSS}] [%-5p] %c -%-4r [%t] %x [%L]>> %m%n" />
		</layout>
	</appender>

	<root>
		<priority value="debug" />
		<appender-ref ref="console" />
		<appender-ref ref="dailyRollingFile" />
	</root>
</log4j:configuration> 